.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal-content {
  display: flex;
  gap: 30px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1520px;
  margin: 0 200px;
  position: relative;
  max-height: 700px;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);

  &:hover {
    color: rgb(132, 23, 23);
  }
}

@media (max-width: 1080px) {
  .modal-content {
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }
}
